@import '{reywood:bootstrap3-sass}/bootstrap';

html body {
	background-color:#ECF0F1;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #E74C3C
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#navbar {

	background-color: #E74C3C;

	#navbarTitle {
		color: white;
		font-size: 25px;
		font-weight: bold;
	}

	#navbarNavigations {
		
		float: right;
		a {
			color: white;
		}

	}

	.navbarOption:hover {
		display: inline;
		background-color: #BD3E31;
	}
}

#buttonLogin {
    text-align:center;
}

#noPlan {
	text-align:center;

}

#buttonMakePlan{
	background-color: #E74C3C;
	color: white;
}

#gotPlan {
	text-align:center;
}

#createForm {
	#mealTypeList {
		text-align:center;
		li {
			display: inline-block;
			margin-right: 5%;
		}
	}
	#cardForm {
		width: 70%;
	}
	#descriptionField {
		width: 70%;
	}
}

#session{
	text-align: center;
}

#homeCard{
	width: 500px;
}

#sessionCard{
	width: 500px;
}

.ingredientCard {
	margin: 3px;
	background-color: white;
}

.ingredientCard:hover {
	background-color: #2980B9;
	color: white;
}

.selected{
	background-color: #3498DB;
	color: white;
}

#buttonFindRecipe {
	margin-top: 5px;
	background-color: #E74C3C;
	color: white;
}

#recipeCreatePlan{
	background-color: #3498DB;
	color: white;
}

#recipeCreatePlan:hover{
	background-color: #2980B9;
	color: white;
}

#saharaIcon{
	width: 40%;
}

#copyLink {
	width: 300px;
}